In [20]:
import sys; sys.path.append('..')
from os import path
from random import choice

from graph import Graph, ReaderORLibrary
from graph.steiner import (prunning_mst, shortest_path,
                            shortest_path_origin_prim,
                            prunning_kruskal_mst,
                            shortest_path_with_origin)

from graph.util import is_steiner_tree, has_cycle
from graph.algorithms import kruskal, prim

In [21]:
from graph.util import gg_total_weight

In [22]:
from pxcrossover import PXtree

In [23]:
# input
dataset_file = 'steinc5.txt'

# output
csv_output = 'resultado.csv'
graphs_output = 'grafos.pickle'

In [24]:
file = path.join('..', 'datasets','ORLibrary', dataset_file)

path.exists(file)

True

In [25]:
reader = ReaderORLibrary()

stpg = reader.parser(file)

In [26]:
crossover = PXtree(stpg)

In [27]:
vertices = list(stpg.graph.vertices)

In [28]:
%%time

data = list()

for _ in range(200):
    v = choice(vertices)
    aa, aa_cost = shortest_path_with_origin(stpg.graph, v, stpg.terminals)
    
    u = choice(vertices)
    bb, bb_cost = shortest_path_with_origin(stpg.graph, u, stpg.terminals)
    
    child = crossover(aa, bb)
    cc_cost = gg_total_weight(child)
    
    data.append([v, u, aa_cost, bb_cost, cc_cost])

Wall time: 2.4 s

In [29]:
import pandas as pd

In [30]:
frame = pd.DataFrame(data, columns=['start_a', 'start_b', 'a_cost', 'b_cost', 'c_cost'])

In [31]:
frame['less_both'] = (frame['c_cost'] < frame['a_cost']) & (frame['c_cost'] < frame['b_cost'])

In [32]:
frame['less_equal_both'] = (frame['c_cost'] <= frame['a_cost']) & (frame['c_cost'] <= frame['b_cost'])

In [33]:
frame['less_a'] = (frame['c_cost'] <= frame['a_cost'])

In [34]:
frame['less_b'] = (frame['c_cost'] <= frame['b_cost'])

In [35]:
frame.head()

,start_a,start_b,a_cost,b_cost,c_cost,less_both,less_equal_both,less_a,less_b
0,357,386,1815,1801,1803,False,False,True,False
1,104,351,1801,1802,1782,True,True,True,True
2,214,316,1787,1857,1787,False,True,True,True
3,336,465,1810,1838,1800,True,True,True,True
4,200,95,1823,1798,1817,False,False,True,False

In [36]:
frame[['a_cost', 'b_cost','c_cost']].min()

a_cost    1738
b_cost    1732
c_cost    1718
dtype: int64

In [37]:
frame[['a_cost', 'b_cost','c_cost']].max()

a_cost    1865
b_cost    1870
c_cost    1852
dtype: int64

In [38]:
frame[['less_both', 'less_a', 'less_b', 'less_equal_both']].describe()

       less_both less_a less_b less_equal_both
count        200    200    200             200
unique         2      2      2               2
top        False   True   True            True
freq         110    171    153             130