In [1]:
import pandas as pd 
import matplotlib.pyplot as pyplot
import seaborn as sns 
import os
from os import path

In [4]:
mainfolder = path.join('..', '..', 'ppgi-stpg-gpx', 'data', 'sim_mutations')

# One can read the instance's folders using
# os.listdir(mainfolder)
# But for God's sake, I want already sorted
folders = [f'B{ii}' for ii in range(1,19)]

folders

['B1',
 'B2',
 'B3',
 'B4',
 'B5',
 'B6',
 'B7',
 'B8',
 'B9',
 'B10',
 'B11',
 'B12',
 'B13',
 'B14',
 'B15',
 'B16',
 'B17',
 'B18']

In [9]:
data = list()
for folder in folders:
    for trial in range(1, 51):
        fname = path.join(mainfolder, folder, f'trial_{trial}_simulation.csv')
        df = pd.read_csv(fname)
        data.append(df)

In [14]:
frame = pd.concat(data, ignore_index=True)

In [16]:
frame.head()

,nro_trial,instance_problem,nro_nodes,nro_edges,nro_terminals,global_optimum,tx_mutation,population_size,max_generation,best_cost,best_fitness,iterations,run_time,max_last_improvement,stopped_by
0,1,B1,50,63,9,82,0.2,100,4000,82,181,2,0.257912,1,BestKnowReached
1,2,B1,50,63,9,82,0.2,100,4000,82,21,5,0.476664,4,BestKnowReached
2,3,B1,50,63,9,82,0.2,100,4000,82,9,13,1.411891,12,BestKnowReached
3,4,B1,50,63,9,82,0.2,100,4000,82,186,2,0.233285,1,BestKnowReached
4,5,B1,50,63,9,82,0.2,100,4000,82,168,3,0.326453,2,BestKnowReached

In [17]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   nro_trial             900 non-null    int64
 1   instance_problem      900 non-null    object
 2   nro_nodes             900 non-null    int64
 3   nro_edges             900 non-null    int64
 4   nro_terminals         900 non-null    int64
 5   global_optimum        900 non-null    int64
 6   tx_mutation           900 non-null    float64
 7   population_size       900 non-null    int64
 8   max_generation        900 non-null    int64
 9   best_cost             900 non-null    int64
 10  best_fitness          900 non-null    int64
 11  iterations            900 non-null    int64
 12  run_time              900 non-null    float64
 13  max_last_improvement  900 non-null    int64
 14  stopped_by            900 non-null    object
dtypes: float64(2), int64(11), object(2)
memory usage: 105.6+ KB

In [18]:
18 * 50

900

In [19]:
group = frame[['instance_problem', 'best_cost', 'iterations', 'max_last_improvement']].groupby('instance_problem')

In [45]:
result = (group
            .agg(['mean', 'std'])
            .reindex(folders).round(2))

In [46]:
result

                 best_cost       iterations         max_last_improvement  \
                      mean   std       mean     std                 mean
instance_problem
B1                   82.00  0.00       6.36    6.95                 5.36
B2                   83.00  0.00       8.24    8.69                 7.24
B3                  138.00  0.00       9.22    8.74                 8.22
B4                   59.78  1.22     177.38  242.61                 6.38
B5                   62.92  0.40     493.32  101.81                12.32
B6                  124.00  0.00     531.48   30.30                30.48
B7                  111.72  0.45     362.38  226.17                 1.38
B8                  104.12  0.59      23.52   98.69                 2.52
B9                  220.00  0.00       3.02    0.59                 2.02
B10                  86.00  0.00       9.54    9.58                 8.54
B11                  94.58  1.46     620.14  169.93               119.14
B12                 179.04  0.49     654.22  140.22               153.22
B13                 176.08  1.71     628.58  161.95               127.58
B14                 240.64  0.53     719.40  224.59               218.40
B15                 329.68  0.79     520.30   62.19                19.30
B16                 152.44  3.01     779.88  256.19               278.88
B17                 131.20  0.49     256.84  200.83               175.84
B18                 220.16  1.31     691.18  210.26               190.18


                     std
instance_problem
B1                  6.95
B2                  8.69
B3                  8.74
B4                  7.38
B5                 11.35
B6                 30.30
B7                  1.56
B8                  2.52
B9                  0.59
B10                 9.58
B11               169.93
B12               140.22
B13               161.95
B14               224.59
B15                62.19
B16               256.19
B17               161.05
B18               210.26

In [25]:
# result.to_clipboard()

In [47]:
print(result.to_latex())

\begin{tabular}{lrrrrrr}
\toprule
{} & \multicolumn{2}{l}{best\_cost} & \multicolumn{2}{l}{iterations} & \multicolumn{2}{l}{max\_last\_improvement} \\
{} &      mean &   std &       mean &     std &                 mean &     std \\
instance\_problem &           &       &            &         &                      &         \\
\midrule
B1               &     82.00 &  0.00 &       6.36 &    6.95 &                 5.36 &    6.95 \\
B2               &     83.00 &  0.00 &       8.24 &    8.69 &                 7.24 &    8.69 \\
B3               &    138.00 &  0.00 &       9.22 &    8.74 &                 8.22 &    8.74 \\
B4               &     59.78 &  1.22 &     177.38 &  242.61 &                 6.38 &    7.38 \\
B5               &     62.92 &  0.40 &     493.32 &  101.81 &                12.32 &   11.35 \\
B6               &    124.00 &  0.00 &     531.48 &   30.30 &                30.48 &   30.30 \\
B7               &    111.72 &  0.45 &     362.38 &  226.17 &                 1.38 &    1.56 \\
B8               &    104.12 &  0.59 &      23.52 &   98.69 &                 2.52 &    2.52 \\
B9               &    220.00 &  0.00 &       3.02 &    0.59 &                 2.02 &    0.59 \\
B10              &     86.00 &  0.00 &       9.54 &    9.58 &                 8.54 &    9.58 \\
B11              &     94.58 &  1.46 &     620.14 &  169.93 &               119.14 &  169.93 \\
B12              &    179.04 &  0.49 &     654.22 &  140.22 &               153.22 &  140.22 \\
B13              &    176.08 &  1.71 &     628.58 &  161.95 &               127.58 &  161.95 \\
B14              &    240.64 &  0.53 &     719.40 &  224.59 &               218.40 &  224.59 \\
B15              &    329.68 &  0.79 &     520.30 &   62.19 &                19.30 &   62.19 \\
B16              &    152.44 &  3.01 &     779.88 &  256.19 &               278.88 &  256.19 \\
B17              &    131.20 &  0.49 &     256.84 &  200.83 &               175.84 &  161.05 \\
B18              &    220.16 &  1.31 &     691.18 &  210.26 &               190.18 &  210.26 \\
\bottomrule
\end{tabular}

In [42]:
result2 = (pd.crosstab(frame['instance_problem'], frame['stopped_by'])
            .reindex(folders))

In [43]:
result2

stopped_by        BestKnowReached  Stagnation
instance_problem
B1                             50           0
B2                             50           0
B3                             50           0
B4                             33          17
B5                              2          48
B6                              0          50
B7                             14          36
B8                             48           2
B9                             50           0
B10                            50           0
B11                             0          50
B12                             0          50
B13                             0          50
B14                             0          50
B15                             0          50
B16                             0          50
B17                            42           8
B18                             0          50

In [44]:
print(result2.to_latex())

\begin{tabular}{lrr}
\toprule
stopped\_by &  BestKnowReached &  Stagnation \\
instance\_problem &                  &             \\
\midrule
B1               &               50 &           0 \\
B2               &               50 &           0 \\
B3               &               50 &           0 \\
B4               &               33 &          17 \\
B5               &                2 &          48 \\
B6               &                0 &          50 \\
B7               &               14 &          36 \\
B8               &               48 &           2 \\
B9               &               50 &           0 \\
B10              &               50 &           0 \\
B11              &                0 &          50 \\
B12              &                0 &          50 \\
B13              &                0 &          50 \\
B14              &                0 &          50 \\
B15              &                0 &          50 \\
B16              &                0 &          50 \\
B17              &               42 &           8 \\
B18              &                0 &          50 \\
\bottomrule
\end{tabular}